.row {
    display: flex;
    justify-content: space-evenly;
    justify-content: space-around;
    background-color: gold
}

.card {
color: purple;
    display: flex;
    width: 100%;
    height: 100%;
    animation: example2 2s ease-in;
}

ul{
    color: purple;
    font-weight: 500;
}



/* Move it (define the animation) */
@keyframes example2 {
 0%   { 
 transform: translateX(200%); 		
 }
 100% { 
 transform: translateX(0%); 
 }


}

h1{
text-align: center;
font-family: Timers New Roman;
color: purple;
}

#NavTitle {

    color: purple;
}


.card-header {

    background-color: purple;
    color: gold;
}


#headerimg {

    display: flex;
    height: 350px;
    width: 1000px;
}

#search{
color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 400px){
     
    .row {
        flex-direction: column;
    }
    .card-header {

        background-color: rgb(61, 61, 191);
        color: azure;
    }
}